@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');

$fonts-headline: "Open Sans", Arial, Verdana, sans-serif;
$fonts-body: "Lora", verdana, arial, sans-serif;
$background-color: #21073a;
$primary: #6b0a0a;
$accent1: #000000;
$accent2: #551382;
$grey-sidebar: #000000;
$text-dark: #440b0b;
$text-light: #551382;
